/* :root {
    --primaryColor: rgb(5, 70, 80);
    --btnColor: rgb(105, 202, 229);
    --white: rgb(255, 255, 255);
    --hover: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
} */
:root {
    --primaryColor: rgb(5, 70, 80);
    --secondaryColor: rgb(240, 240, 240);
    --btnColor: rgb(105, 202, 229);
    --white: rgb(255, 255, 255);
    --hover: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.sidebar {
    background-color: var(--primaryColor);
    border-right: 1px solid var(--btnColor);
    height: 100vh;
    color: white;
}

.sidebar-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.sidebar-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
}

.sidebar-items>li {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar-items>li:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    width: 200px;
    border-radius: 10px 20px 30px 40px;
    cursor: pointer;
    transition: 500ms;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  Change the link color on hover
  li a:hover {
    background-color: red;
    color: white;
  } */