:root {
    --primaryColor: rgb(7, 82, 94);
    --btnColor: rgb(105, 202, 229);
    --white: rgb(255, 255, 255);
    --hover: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: var(--primaryColor) */
}

.login-title {
    font-weight: bold;
    font-size: 60px;
    margin-top: 200px;
}

.login {
    color: var(--primaryColor);
}

.login-p {
    font-weight: lighter;
    font-size: 250x;
}

.login-p, .login-title, .bkd {
    color: white;
}

.login-body {
    height: 100vh;
    background-color: var(--primaryColor);
}

.login-card {
    border-radius: 20px;
    margin-top: 100px;
}

.reg-card-con .login-card {
    margin-top: 30px;
}

.login-input {
    outline: none;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(237, 237, 237);
    display:shadow;
    
}
.cool{
    
    background-color: rgb(237, 237, 237);
}

label {
    margin-right: 15px;
}

input[type=radio] {
    padding-right: 10px;
}

.login-as {
    margin-bottom: 10px;
}

.login-btn {
    border: none;
    color: white;
    background-color: var(--btnColor);
    padding: 10px;
    font-weight: bold;
}

.p-reg .login-btn {
    width: 100%;
}

.login-btn:hover {
    border-radius: 10px;
    transition: 500ms;
    box-shadow: var(--hover)
}

input[type=date] {
    width: 100%;
    outline: none;
}

.select {
    outline: none;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(237, 237, 237);
}

.home{
    background-color: rgb(7, 82, 94)
}

.mb-2 {
    transition: width 2s;
}

.mt-2 {
    transform: rotate(3rem);
}
