:root {
    --primaryColor: rgb(5, 70, 80);
    --btnColor: rgb(105, 202, 229);
    --white: rgb(255, 255, 255);
    /* --primaryColor: rgb(82, 114, 139); */
    /* --btnColor: rgb(20, 42, 59); */
    --hover: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primaryColor)
}

.login-title {
    font-weight: bold;
    font-size: 60px;
    margin-top: 140px;
}

.login {
    color: var(--primaryColor);
}

.login-p {
    font-weight: lighter;
    font-size: 250x;
}

.login-p, .login-title, .bkd {
    color: white;
}

.login-body {
    height: 100vh;
}

.login-card {
    border-radius: 20px;
    margin-top: 100px;
}

.login-input {
    outline: none;
    margin-top: 20px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(237, 237, 237);
}


label {
    margin-right: 15px;
}

input[type=radio] {
    padding-right: 10px;
}

.login-as {
    margin-bottom: 10px;
}

.login-btn {
    border: none;
    color: white;
    background-color: var(--btnColor);
    padding: 10px;
    font-weight: bold;
}

.login-btn:hover {
    border-radius: 10px;
    transition: 500ms;
    box-shadow: var(--hover)
}

ul, .nav-row {
    background-color: rgb(80, 185, 168);
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
}

li:hover {
    background-color: var(--btnColor);
    color: white
}

.logo {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brand {
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.voucher-card {
    border-radius: 0;
}

.voucher-content h3 h5 {
    text-align: center;
}

.v-top-i {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

/* .t, .th, .td{
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
.t{
    width: 100%;
}
.t-textarea{
    width:100%;
    height:300px;
    outline: none;
}

input[type=date]{
    padding-top: 0px;
    padding: 0;
} */

.tr {
    border: 1px solid black;
}

.d, .dsc, .r, .a {
    border: 1px solid black;
    height: 500px;
}

.t-textarea {
    width: 100%;
    height: 300px;
    outline: none;
}

input[type=date] {
    width: 100%;
    outline: none;
}

input[type=search] {
    width: 100%;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}